<!DOCTYPE html>
<html lang="en" ng-app='dailiesApp'>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap 3 layout scaffolding grid</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!--link href="css/bootstrap.min.css" rel="stylesheet"-->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--link href="css/styles.css" rel="stylesheet"-->
	</head>
	<body ng-controller="taskController">
		<div class="container" style="padding-top:10%">
		    <div class="row">
		        <div class="col-lg-12"><div class="well"><p>create new daily</p></div></div>
		    </div>
		</div>
		<hr>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="javascripts/angular.js"></script>
	</body>
</html>